{% extends 'base.html' %}

{% block content %}


<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">FastAPI URL Shortener</h1>
            <p class="mb-8 leading-relaxed">Simple yet powerful URL shortener built with FastAPI.</p>


            <br>
            <div class="flex justify-center">
                <a href="https://github.com/aahnik/fastapi-url-shortener"><button
                    class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">GitHub</button></a>

                    <a href="/docs"><button
                    class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Docs</button></a>

            </div>
        </div>
    </div>
</section>


{% endblock content %}